%form{action: "/login", method: "post", "data-abide" => true}

  %div{class: "row"}
    %div{class: "small-12 medium-8 large-4 medium-centered large-centered columns", id: "login"}
      %fieldset
        %legend Please login to configure the auto-responder
        
        - if flash[:error]
          %div{class: "row"} 
            %div{"data-alert" => true, class: "alert-box alert"} 
              = flash[:error][:login]
              %a{href: "#", class: "close"} &times;

        %div{class: "row"}
          %div{class: "small-3 columns"} 
            %label{for: "username", class: "right inline"} Mailbox:
          %div{class: "small-9 columns"}   
            %input{type: "text", id: "username", name: "username", placeholder: "mailbox name", "required" => true}
            %small{class: "error"} The mailbox name is required.

        %div{class: "row"}
          %div{class: "small-3 columns"}
            %label{for: "email", class: "right inline"} Email:
          %div{class: "small-9 columns"}
            %input{type: "email", id: "email", name: "email", placeholder: "your email address", "required" => true}
            %small{class: "error"} An email address is required.

        %div{class: "row"}
          %div{class: "small-3 columns"}
            %label{for: "password", class: "right inline"} Password:
          %div{class: "small-9 columns"}
            %input{type: "password", id: "password", name: "password", placeholder: "your password", "required" => true}
            %small{class: "error"} The password is required.

        %div{class: "row"}
          %div{class: "small-12 large-centered columns"}
            %input{type: "submit", value: "Login", class: "button expand round"}